
{% extends 'base.html' %}
{% block content %}
  <form method="POST" class="card card-body shadow-sm">
    <h4 class="mb-3">Add Patient</h4>
    <input name="id" class="form-control mb-2" placeholder="Patient ID" required>
    <input name="name" class="form-control mb-2" placeholder="Full Name" required>
    <input name="age" class="form-control mb-2" placeholder="Age" type="number" required>
    <input name="gender" class="form-control mb-2" placeholder="Gender (M/F)" required>
    <input name="illness" class="form-control mb-3" placeholder="Illness" required>
    <button class="btn btn-success">Add Patient</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
